body {
  margin: 0;  
  background-color: #161616;
  }
  
  a {
    color: #ffffff;
    font-family: 'Pretendard-Thin';
    text-decoration: none;
  }
  a:hover {
    font-family: 'Pretendard-Thin';
  text-decoration: none;
  color: #F2AA4C;
  }
  
  h1{
    text-align: center;
    font-family: 'GL';
    color:azure;
  }
  b:hover {
  color: azure;
  }
  
  
  .background {
    position: absolute;
    transform: translate3d(0, 0, 0);
    float: "top";
  }
  
  .navbar {   
  position: fixed;
  width: 99%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  padding: 8px 22px;
  }
  
  .navbar_logo {
  font-size: 34px;
  }
  
  .navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  }
  
  .navbar_menu li {
  padding: 8px 12px;
  }
  
  .navbar_menu li:hover {
  background-color: #ED6F63;
  border-radius: 2px;
  }
  
  span {
      color: #E84127;
  }
  .DoD {
    font-family: 'GB';
      color: #ffffff;
  }
  .project {
    font-family: 'GB';
      color: #ffffff;
  }

  
  body {
      background-color: #161616;
  }
  
  @font-face {
    font-family: 'GL';
    src: url(fonts/GmarketSansTTFLight.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GB';
    src: url('fonts/GmarketSansTTFBold.ttf') format('truetype');
  }